@page
@model CourseModel
@inject IViewLocalizer Localizer


@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    var course = Model.Course;
    ViewData["Title"] = isEnglish ? course.TitleEng : course.TitleFre;
}

<a href="../../Index"><h4>@Localizer["Home"]</h4></a>
<div>
    <h2>@(isEnglish ? course.TitleEng : course.TitleFre)</h2>
    <p><b>@Localizer["Course code:"]</b> @(course.Code)</p>
    <p><b>@Localizer["Course type:"]</b> @(isEnglish ? Model.CourseType.NameEng : Model.CourseType.NameFre)</p>
    <p><b>@Localizer["Department:"]</b> @(isEnglish ? Model.Department.NameEng : Model.Department.NameFre)</p>
    
    <hr />
    <p>@(isEnglish ? course.DescEng : course.DescFre)</p>
    <p><strong>@Localizer["Language:"]</strong> @(isEnglish ? course.LangEng : course.LangFre)</p>
    <p><strong>@Localizer["Hours:"]</strong> @(course.Hours)</p>

</div>
<div>
    <ul class="pager">
        <li class="previous"><a asp-page="../Index" class="btn btn-primary" type="button" rel="prev">@Localizer["Back"]</a></li>
    </ul>
</div>
