@page
@model CourseModel
@inject IViewLocalizer Localizer


@{
    var isEnglish = System.Threading.Thread.CurrentThread.CurrentCulture.TwoLetterISOLanguageName == "en";
    var course = Model.Course;
    ViewData["Title"] = isEnglish ? course.TitleEng : course.TitleFre;
}

<a href="/"><h4>@Localizer["Home"]</h4></a>
<div>
    <h2>@(isEnglish ? course.TitleEng : course.TitleFre)</h2>
    <span><strong>@Localizer["Course code:"]</strong>@(course.Code)</span>
    <span><strong>@Localizer["Hours:"]</strong>@(course.Hours)</span>
    <table>
        <tr>
            <th>Language</th>
            <th>Course Type</th>
            <th>Department</th>
            <th>Discipline</th>
        </tr>
        <tr>
            <td>@(course.LangEng)</td>
            <td>@(Model.CourseType.NameEng)</td>
            <td>@(Model.Department.NameEng)</td>
            <td>@(Model.Discipline.NameEng)</td>
        </tr>
    </table>
    <hr />
    <p>@(isEnglish ? course.DescEng : course.DescFre)</p>

</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
